<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>HomepageLocation</key>
  <string>https://www.google.com/</string>
  <key>HomepageIsNewTabPage</key>
  <false/>
  <key>AutofillCreditCardEnabled</key>
  <false/>
  <key>AutoFillEnabled</key>
  <false/>
  <key>PasswordManagerEnabled</key>
  <false/>
  <key>DefaultPluginsSetting</key>
  <integer>3</integer>
  <key>DefaultPopupsSetting</key>
  <integer>1</integer>
  <key>SafeBrowsingEnabled</key>
  <true/>
  <key>URLBlacklist</key>
  <array>
    <string>*</string>
  </array>
  <key>URLWhitelist</key>
  <array>
    <string>apple.com</string>
    <string>https://www.google.com/</string>
    <string>chrome://*</string>
  </array>
  <key>RestoreOnStartup</key>
  <integer>4</integer>
  <key>RestoreOnStartupURLs</key>
  <array>
  <string>https://www.google.com/</string>
</array>
<key>PrintPreviewUseSystemDefaultPrinter</key>
<true/>
</dict>
</plist>
